<table class='metrics'>
  <thead>
    <tr>
      {{#each headers}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each entries}}
      <tr>
        <td>{{name-from-code id}}</td>
        <td class='value'>
          {{#if hrs}}
            {{hrs}}
          {{else}}
            {{#if average}}
              {{round average}}
            {{else}}
              {{#if production}}
                {{round production}}
              {{/if}}
            {{/if}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
